<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mithila IT Careers</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
    <h1 class="text-center my-2">Mithila IT Careers</h1>
      <div class="row" style="margin-bottom:16px">
        <div class="col-md-6">
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elit duis tristique sollicitudin nibh sit amet. Diam in arcu cursus euismod quis viverra nibh cras. Commodo viverra maecenas accumsan lacus vel facilisis. Vitae semper quis lectus nulla at volutpat. Viverra suspendisse potenti nullam ac. A erat nam at lectus urna. Suspendisse sed nisi lacus sed viverra. Accumsan sit amet nulla facilisi morbi tempus iaculis urna. Tincidunt lobortis feugiat vivamus at augue eget arcu dictum. Id porta nibh venenatis cras sed felis eget velit. Et malesuada fames ac turpis.
    </p>
          </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/people.jpg" style="height:320px; border-radius:4px;" />
        </div>
      </div>
    <h2 class="text-center my-2">Open Positions</h2>
    <p>
      {% for job in jobs %}
        {% include 'jobitem.html' %}
      {% endfor %}
    </p>
      <div class="text-center my-2">
    <button type="button" class="btn btn-primary">Contact US</button>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>